* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: #555;
}

body {
    font-family: "Poppins", sans-serif !important;
}

/* navbar */
.navbar-brand img {
    width: 125px;
}

/* header */
#header {
    background: radial-gradient(#fff, #ffd6d6);
}

.row {
    align-items: center;
    justify-content: space-around;
}

#header .row {
    margin-top: 50px;
}

/* .home-img{
    min-width: 300px;
} */
.header-img img {
    max-width: 100%;
    padding: 50px 0;
}

.header-text h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    background-color: #ff523b !important;
    border-radius: 30px !important;
    padding: 8px 30px !important;
    margin: 30px 0;
    transition: background-color 0.5s ease !important;
}

.btn:hover {
    background-color: #563434 !important;
}


/* featured categories */
#categories {
    margin: 70px 20px;
}

.cat-item {
    margin-bottom: 30px;
}

.cat-item img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding: 0 80px;
}


/* featued products */
.prod-item {
    margin-bottom: 50px;
    transition: transform 0.5s ease;

}

.prod-item img {
    width: 100%;
    border-radius: 10px;
}
.prod-item a{
    text-decoration: none;
}

.title {
    text-align: center;
    line-height: 60px;
    /* margin: 0 auto 80px; */
    /*both are same */
    margin-bottom: 80px;
    color: #555;
    position: relative;
}

.title::after {
    content: '';
    background-color: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.prod-item h4 {
    color: #555;
    font-size: 14px;
    font-weight: normal;
}

.prod-item p {
    font-size: 14px;
}

.prod-item:hover {
    transform: translateY(-5px);

}

.rating {
    color: #ff523b;
}


/* offer/Exclusive products */

/* instead of writing this 2 classes here i can use the classes of header (bcz there also 2 colums one is for img and
 other is for text i can use it here) */
.offer-item img {
    max-width: 100%;
    padding: 50px;
}

.offer-item h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin: 25px 0;
}

#offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

small {
    color: #555;
}


/* testimonials */
#testimonials {
    padding-top: 100px;
}

#testimonials .small-container {
    padding: 0 160px;
}

.test-item {
    margin: auto -20px 30px;
    text-align: center;
    padding: 40px 10px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);

    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.test-item:hover {
    transform: translateY(-10px);
}

.test-item img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.test-item h3 {
    font-weight: 600;
    font-size: 16px;
    color: #555;
}

.test-item p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.fa-quote-left {
    color: #ff523b;
    font-size: 34px;
}

/* brand */
#brands {
    margin: 100px auto;
}

#brands .col-5 {
    width: 160px;
    margin-bottom: 10px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}


                                        /* footer */
#footer{
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 40px;
    text-align: center;
}
#footer p{
    color: #8a8a8a;
}
#footer h3{
    color: #fff;
    margin-left: 25px;
    margin-bottom: 20px;
    font-size: 14px;
}
.footer-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-1, .footer-2 , .footer-3 , .footer-4{
    
    margin-bottom: 20px;
}
ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}

#footer hr{
    border: none;
    background-color: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}
.menu-icon{
    width: 25px;
    height: 30px;
    margin: auto;
    margin-left: 20px;
    display: none;
}


                                        /* media queries for menu icon */
@media screen and (max-width: 768px) {
    
    .navbar-nav{
        position: absolute;
        top:70px;
        left: 0;
        background-color: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .nav-item{
        /* display: block; */
        margin-right: 20px;
        margin-left: auto;

    }
    .nav-link{
        color: #fff !important;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }

    /* mediaquery for cart page */
    .cart-info {
        font-size: 0.8rem;
    }
    .cart-info p{
        margin-bottom: 3px;
    }
}

                                /* for products page */
.products-row h2{
    display: inline;
}
.products-row{
    display: flex;
    justify-content: space-between;
    margin: 50px auto ;
}
select{
    height: 30px;
    border: 1px solid #ff523d;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
}
select option{
    font-size: 13px;
}
select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    border-radius: 50%;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    font-weight: 400;
}

.page-btn span:hover{
    background-color: #ff523b;
    color: #fff;
}



                                /* for single product */
.single-product{
    margin-top: 80px;
}

.single-product .col-md-6 img{
    padding: 0;
}

.single-product .col-md-6{
    padding:20px ;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}


.single-product select{
    display: block;
    padding: 5px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
.single-product input:focus{
    outline: none;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}


                                /* for accounts page */
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}

.form-container{
    background-color: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

#logInForm{
    left: -300px;
}

#signUpForm{
    left: 0px;
}

form a{
    text-decoration: none;
    font-size: 12px;
    color: #777;
}

#indicator{
    width: 100px;
    height: 3px;
    padding: 0 50px;
    border: none;
    background: #ff523b;
    margin-top: 8px;
    transform: translateX(150px);
    transition: transform 1s;
}


                                    /* for Cart page*/
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse:collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 350px;
}

th:last-child{
    text-align: right;
}
td:last-child{
    text-align: right;
}


                              /* for aboutus page */
.about-page h1{
    color: #ff523b;
}

.about-page h3{
    text-align: center;
    color: #b5b5b5;
}